---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-pro-type-member-init,
  modernize-use-nullptr,
  performance-*,
  portability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(engine|editor|runtimes|tests)/.*'
FormatStyle: file
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '4'
